<html>
  <head>
  </head>
  <body>
    <div>
    <h1>
      Hangman:
    </h1>
    <p>
      Word:
    </p>
    <p>
      Input a letter or a word to determine your guesses.
    </p>
    <form>
      <input type='text' name='letter' placeholder="Letter Here"/>
      <input type='submit' value='Guess!' />
    </form>
    <p>
      Letters:
    </p>
  </div>
  </body>
</html>
