<html>
  <head>
  </head>
  <body>
    <div>
    <h1>
      Hangman:
    </h1>
    <form>
      <input type='submit' name='start' value='Start Game' />
    </form>
    <p>
      Word:
    </p>
    <p>
      _______
    </p>
    <br></br>
    <p>
      Input a letter or a word to determine your guesses:
    </p>
    <form>
      <input type='text' name='letter' placeholder="Letter Here"/>
      <input type='submit' name='guess' value='Guess!' />
    </form>
    <br></br>
    <p>
      Correct Letters:
    </p>
    <p>
      Incorrect Letters:
    </p>
  </div>
  </body>
</html>
